<div class="signup-page">
    <div class="signup-form">
      <h1>Create an Account</h1>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="rePassword" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <div formGroupName="name">
            <mat-form-field appearance="fill">
              <mat-label>First Name</mat-label>
              <input matInput type="text" formControlName="firstname" />
            </mat-form-field>
          </div>
          <div formGroupName="name">
            <mat-form-field appearance="fill">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" formControlName="lastname" />
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="primary" type="submit">Create Account</button>
      </form>
    </div>
  </div>
  