<div class="main_component">
    <h1>Phone Webshop</h1>
    <p>Webshop keretrendszerek beadandó</p>
    <p>Logout/Login : Ki és belépés Auth-al</p>
    <p>Add Phone : Telefont lehet hozzáadni az adatbázishoz</p>
    <p>Shop : Adatbázisban lévő telefonok között lehet böngészni</p>
    <p>Cart : A kosárba tett árut lehet megnézni</p>

    <h2>Követelmény katalógus</h2>
    <p>Typscirt interfaces : Login, cart, shop, addphone</p>
    <p>Mobil felület : Van</p>
    <p>Material elem :  Minden html-be több</p>
    <p>Pipe használatat : filter azzal megvalósítva</p>
    <p>Crud müveletek megvalósulnak</p>
    <p>User és telefon regisztráció angular formal</p>
    <p>User és a Shop firestore adatbázisban</p>
    <p>Shop/Cart levédve Auth-al</p>

</div>