.cart-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 20px;
  
    .cart-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 40px;
  
      .cart-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
        max-width: 600px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        overflow: hidden;
  
        .item-image {
          width: 120px;
          height: 120px;
          background-color: #f2f2f2;
          flex-shrink: 0;
        }
  
        .item-details {
          flex: 1;
          padding: 20px;
  
          .item-title {
            font-size: 1.2rem;
            margin-bottom: 5px;
          }
  
          .item-brand {
            font-size: 1rem;
            color: #666;
            margin-bottom: 10px;
          }
  
          .item-price {
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
  
        .item-actions {
          padding: 20px;
  
          .item-remove {
            background-color: #dc3545;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s ease;
  
            &:hover {
              background-color: #c82333;
            }
          }
        }
      }
    }
  
    .cart-total {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 20px;
  
      h4 {
        font-size: 1.2rem;
        margin-right: 10px;
      }
  
      p {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  
    .cart-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      button {
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0
      }
    }
}
.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-size: 24px;
    color: #555;
    text-align: center;
    a {
      margin-top: 10px;
      color: #007bff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  